<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar artículo</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container form-group table-responsive">
    <h1 class="display-4">Editar artículo</h1>

    <form method="post" th:action="@{/admin/article/edit}" th:object="${article}" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Nombre*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{name}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Descripción:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{description}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Fabricante*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{manufacture}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('manufacture')}"
                           th:errors="*{manufacture}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Precio de coste*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="number" step="0.01" th:field="*{cost}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('cost')}"
                           th:errors="*{cost}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Precio de venta al público*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="number" step="0.01" th:field="*{pvp}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('pvp')}"
                           th:errors="*{pvp}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">% IVA*</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="number" step="0.01" th:field="*{iva}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('iva')}"
                           th:errors="*{iva}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Foto:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="file" name="file" class="form-control">
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-danger" type="reset" name="reset"
                                                               value="Borrar todo"></td>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-primary" type="submit" name="alta"
                                                               value="Editar"></td>
            </tr>
        </table>
    </form>
    <p class="p">Los campos con * se deben rellenar obligatoriamente</p>
</div>

<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>