<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del artículo</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<hr>
<div class="container">
    <div class="alert alert-warning" th:if="${article.active == 0 and article.stock > 0}">
        <strong>Atención</strong> El artículo está en liquidación.
        (Si desea retirarlo definitivamente actualize su stock a cero)
    </div>
    <div class="alert alert-warning" th:if="${article.active == 0 and article.stock == 0}">
        <strong>Atención</strong> El artículo está retirado de la tienda
    </div>
    <div class="alert alert-warning" th:if="${article.stock < 10 and article.active ==1}">
        <strong>Atención</strong> Hay pocas unidades del producto disponibles
    </div>
    <div class="card">
        <div class="card-header" th:text="${article.name}" style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <img th:if="${not #strings.isEmpty(article.photo)
         and #strings.length(article.photo) > 0}" th:src="@{'/upload/' + ${article.photo}}"
                 th:alt="${article.photo}" style="width: 250px" class="img-fluid">
            <blockquote class="blockquote mb-0">
                <table class="table">
                    <tr>
                        <td class="col-lg-6">Id del artículo:</td>
                        <td class="col-lg-6" th:text="${article.idArticle}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Descripción:</td>
                        <td class="col-lg-6" th:if="${!#strings.isEmpty(article.description)}"
                            th:text="${article.description}"></td>
                        <td class="col-lg-6" th:if="${#strings.isEmpty(article.description)}"> Sin rellenar</td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Proveedor:</td>
                        <td class="col-lg-6">
                            <a th:href="@{'/admin/provider/get/' + ${article.provider.idProvider}}"
                               th:text="${article.provider.businessName}"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Fabricante:</td>
                        <td class="col-lg-6" th:text="${article.manufacture}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Precio de coste:</td>
                        <td class="col-lg-6" th:text="${article.cost}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Precio de venta al público:</td>
                        <td class="col-lg-6" th:text="${article.pvp}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">IVA:</td>
                        <td class="col-lg-6" th:text="${article.iva} + '%'"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Stock:</td>
                        <td class="col-lg-6" th:text="${article.stock}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Estado:</td>
                        <td class="col-lg-6"
                            th:text="((${article.active == 1})? 'Activado':
                        ((${article.stock == 0})?'Retirado':'En liquidación'))"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-12">
                            <a class="btn btn-primary"
                               th:href="@{'/admin/article/edit/' + ${article.idArticle}}">Editar</a>
                        </td>
                        <td class="col-lg-6 col-md-6 col-sm-12">
                            <a th:if="${article.active == 1}" class="btn btn-outline-danger btn-sm"
                               th:href="@{'/admin/article/get/disable/' + ${article.idArticle}}"
                               th:text="'Desactivar'"></a>
                            <a th:if="${article.active == 0}" class="btn btn-outline-info btn-sm"
                               th:href="@{'/admin/article/get/enable/' + ${article.idArticle}}" th:text="'Activar'"></a>
                        </td>
                    </tr>
                </table>
            </blockquote>
        </div>
    </div>
    <hr>
    <!--    Beneficios y perdidas del producto recorriendo las lineas del producto solo-->
    <div class="card">
        <div class="card-header" style="background-color: #dac4f4">Actualizar Stock</div>
        <div class="card-body" style="background-color: #f1e7fb">
            <form method="post" th:action="@{/admin/article/get}" th:if="${article.stock != 0 or article.active != 0}">
                <table class="table">
                    <tr>
                        <td>Nuevo Stock<input type="hidden" name="idArticle" th:value="${article.idArticle}"></td>
                        <td th:if="${article.active == 0}"><input name="newStock" type="number" min="0"
                                                                  th:max="${article.stock}" required></td>
                        <td th:if="${article.active == 1}"><input name="newStock" type="number" min="0" required></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-outline-personalized" value="Actualizar"></td>
                    </tr>
                </table>
            </form>
            <p th:if="${article.stock == 0 and article.active == 0}">El artículo está retirado</p>
        </div>
    </div>
    <hr>
    <div class="card" th:if="${orders.size()>0}">
        <div class="card-header" th:text="${'Pedidos con el artículo '+ article.idArticle}" style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <table class="table" th:if="${orders.size()>0}">
                <tr style="background-color: #dac4f4">
                    <th class="col-lg-3 col-md-3 col-sm-6">Id pedido</th>
                    <th class="col-lg-4 col-md-4 col-sm-6">Fecha</th>
                    <th class="col-lg-3 col-md-3 col-sm-12">Precio total:</th>
                    <th class="col-lg-2 col-md-2 col-sm-12">Ver</th>
                </tr>
                <tr th:each="order: ${orders}" style="background-color: #f1e7fb">
                    <td class="col-lg-3 col-md-3 col-sm-6" th:text="${order.idOrder}"></td>
                    <td class="col-lg-4 col-md-4 col-sm-6" th:text="${#dates.format(order.date, 'dd/MM/yyyy')}"></td>
                    <td class="col-lg-3 col-md-3 col-sm-12" th:text="${order.getTotalPrice()+'€'}"></td>
                    <td class="col-lg-2 col-md-2 col-sm-12">
                        <a class="btn btn-outline-success btn-sm"
                           th:href="@{'/admin/order/get/' + ${order.idOrder}}" th:text="'Ver'"></a>
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td class="col-lg-6">Unidades vendidas:</td>
                    <td class="col-lg-6" th:text="${unitsSold}"></td>
                </tr>
                <tr>
                    <td class="col-lg-6">Total vendido:</td>
                    <td class="col-lg-6" th:text="${totalSold + '€'}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div th:if="${orders.size()==0}" class="alert alert-warning" role="alert">
        Este artículo no tiene ningún pedido
    </div>
    <footer th:replace="layout/general_layout :: footer"></footer>
</div>
</body>
</html>