<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de artículos</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <hr>
    <h1 class="display-4">Listado de artículos</h1>
    <hr>
    <table class="table" th:if="${articles.size()>0}">
        <tr style="background-color: #dac4f4">
            <th class="col-lg-3 col-md-3 col-sm-6">Id artículo</th>
            <th class="col-lg-3 col-md-3 col-sm-6">Nombre</th>
            <th class="col-lg-2 col-md-2 col-sm-6">Stock</th>
            <th class="col-lg-2 col-md-2 col-sm-6">Foto</th>
            <th class="col-lg-2 col-md-2 col-sm-12">Ver</th>
        </tr>
        <tr th:each="article: ${articles}" style="background-color: #f1e7fb">
            <div class="alert alert-warning" th:if="${article.stock< 10 and article.active == 1}"
                 th:text="'Hay pocas unidades del artículo ' + ${article.idArticle} + ' disponibles'">
            </div>
            <td class="col-lg-3 col-md-3 col-sm-6" th:text="${article.idArticle}"></td>
            <td class="col-lg-3 col-md-3 col-sm-6" th:text="${article.name}"></td>
            <td class="col-lg-2 col-md-2 col-sm-6" th:text="${article.stock}"></td>
            <td class="col-lg-2 col-md-2 col-sm-6"><img th:if="${not #strings.isEmpty(article.photo)
         and #strings.length(article.photo) > 0}" th:src="@{'/upload/' + ${article.photo}}"
                                                        th:alt="${article.photo}" style="width: 100px"
                                                        class="img-fluid"></td>
            <td class="col-lg-2 col-md-2 col-sm-12">
                <a class="btn btn-outline-success btn-sm"
                   th:href="@{'/admin/article/get/' + ${article.idArticle}}" th:text="'Ver'"></a>
                <a th:if="${article.active == 1}" class="btn btn-outline-danger btn-sm"
                   th:href="@{'/admin/article/disable/' + ${article.idArticle}}" th:text="'Desactivar'"></a>
                <a th:if="${article.active == 0}" class="btn btn-outline-info btn-sm"
                   th:href="@{'/admin/article/enable/' + ${article.idArticle}}" th:text="'Activar'"></a></td>
        </tr>
    </table>
    <div th:if="${articles.size()==0}" class="alert alert-warning" role="alert">
        No hay ningún artículo
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>