<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir usuario administrador</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container form-group table-responsive">
    <h1 class="display-4">Añadir usuario administrador</h1>

    <form method="post" th:action="@{/admin/user/add}" th:object="${user}" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Nombre de usuario:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{username}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}"
                           th:errors="*{username}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Contraseña:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="password" th:field="*{password}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Correo electrónico:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{email}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-danger" type="reset" name="reset"
                                                               value="Borrar todo"></td>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-primary" type="submit" name="alta"
                                                               value="Añadir"></td>
            </tr>
        </table>
    </form>
    <p class="p">La contraseña la podrá cambiar más adelante</p>
</div>

<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>