<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cambiar correo electrónico</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container form-group table-responsive">
    <h1 class="display-4">Cambiar correo electrónico</h1>

    <form method="post" th:action="@{/admin/user/changeEmail}" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Contraseña*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input name="pass" type="password" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Correo nuevo*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input name="mail" type="email" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-danger" type="reset" name="reset"
                                                               value="Borrar todo"></td>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-primary" type="submit" name="alta"
                                                               value="Cambiar correo"></td>
            </tr>
        </table>
    </form>
</div>

<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>