<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del usuario</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<hr>
<div class="container">
    <div class="card">
        <div class="card-header" th:text="${user.username}"
             style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <blockquote class="blockquote mb-0">
                <table class="table">
                    <tr th:if="${user.client != null}">
                        <td class="col-lg-6">Nif:</td>
                        <td class="col-lg-6" th:text="${user.client.nif}"></td>
                    </tr>
                    <tr th:if="${user.client != null}">
                        <td class="col-lg-6">Nombre:</td>
                        <td class="col-lg-6" th:text="${user.client.name}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Correo electrónico:</td>
                        <td class="col-lg-6" th:text="${user.email}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Rol:</td>
                        <td class="col-lg-6" th:text="${user.role.role}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Estado:</td>
                        <td class="col-lg-6" th:text="((${user.active == 1})? 'Usuario activado':
                        'Usuario desactivado')"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-12">
                            <a th:if="${user.active == 1}" class="btn btn-outline-danger btn-sm"
                               th:href="@{'/admin/user/get/disable/' + ${user.username}}" th:text="'Desactivar'"></a>
                            <a th:if="${user.active == 0}" class="btn btn-outline-info btn-sm"
                               th:href="@{'/admin/user/get/enable/' + ${user.username}}" th:text="'Activar'"></a>
                        </td>
                        <td th:if="${user.client != null}" class="col-lg-6 col-md-6 col-sm-12">
                            <a class="btn btn-outline-info btn-sm"
                               th:href="@{'/admin/client/get/' + ${user.client.idClient}}" th:text="'Ver cliente'"></a>
                        </td>
                    </tr>
                </table>
            </blockquote>
        </div>
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>