<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de usuarios</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <hr>
    <h1 class="display-4">Listado de usuarios</h1>
    <hr>
    <table class="table" th:if="${users.size()>0}">
        <tr style="background-color: #dac4f4">
            <th class="col-lg-3 col-md-3 col-sm-6">Nombre de usuario</th>
            <th class="col-lg-4 col-md-4 col-sm-6">Correo electrónico</th>
            <th class="col-lg-3 col-md-3 col-sm-12">Rol</th>
            <th class="col-lg-2 col-md-2 col-sm-12">Ver</th>
        </tr>
        <tr th:each="user: ${users}" style="background-color: #f1e7fb">
            <td class="col-lg-3 col-md-3 col-sm-6" th:text="${user.username}"></td>
            <td class="col-lg-4 col-md-4 col-sm-6" th:text="${user.email}"></td>
            <td class="col-lg-3 col-md-3 col-sm-12" th:text="${user.role.role}"></td>
            <td class="col-lg-2 col-md-2 col-sm-12">
                <a class="btn btn-outline-success btn-sm"
                   th:href="@{'/admin/user/get/' + ${user.username}}" th:text="'Ver'"></a>
                <a th:if="${user.active == 1 and actualUser.username != user.username}"
                   class="btn btn-outline-danger btn-sm"
                   th:href="@{'/admin/user/disable/' + ${user.username}}" th:text="'Desactivar'"></a>
                <a th:if="${user.active == 0}" class="btn btn-outline-info btn-sm"
                   th:href="@{'/admin/user/enable/' + ${user.username}}" th:text="'Activar'"></a>
                <a th:if="${actualUser.username == user.username}" class="btn btn-outline-danger btn-sm disabled"
                   th:text="'Desactivar'"></a>
            </td>
        </tr>
    </table>
    <div th:if="${users.size()==0}" class="alert alert-warning" role="alert">
        No hay ningún usuario
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>