<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del cliente</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<hr>
<div class="container">
    <div class="card">
        <div class="card-header" th:text="(${client.surname2 != null})? ${client.name +' ' + client.surname1 +' '+ client.surname2}:
                        ${client.name +' ' + client.surname1}"
             style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <img th:if="${not #strings.isEmpty(client.photo)
         and #strings.length(client.photo) > 0}" th:src="@{'/upload/' + ${client.photo}}"
                 th:alt="${client.photo}" style="width: 250px" class="img-fluid">
            <blockquote class="blockquote mb-0">
                <table class="table">
                    <tr>
                        <td class="col-lg-6">Nif:</td>
                        <td class="col-lg-6" th:text="${client.nif}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Nombre:</td>
                        <td class="col-lg-6" th:text="${client.name}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">1º apellido:</td>
                        <td class="col-lg-6" th:text="${client.surname1}"></td>
                    </tr>
                    <tr th:if="${!#strings.isEmpty(client.surname2)}">
                        <td class="col-lg-6">2º apellido:</td>
                        <td class="col-lg-6" th:text="${client.surname2}"></td>
                    </tr>
                    <tr th:if="${!#strings.isEmpty(client.businessName)}">
                        <td class="col-lg-6">Nombre empresarial:</td>
                        <td class="col-lg-6" th:text="${client.businessName}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Código postal:</td>
                        <td class="col-lg-6" th:text="${client.postalCode}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Dirección:</td>
                        <td class="col-lg-6" th:text="${client.address}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Estado:</td>
                        <td class="col-lg-6" th:text="((${client.user.active == 1})? 'Usuario activado':
                        'Usuario desactivado')"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-12"></td>
                        <td th:if="${client.user != null}" class="col-lg-6 col-md-6 col-sm-12">
                            <a class="btn btn-outline-info btn-sm"
                               th:href="@{'/admin/user/get/' + ${client.user.username}}" th:text="'Ver usuario'"></a>
                        </td>
                    </tr>
                </table>
            </blockquote>
        </div>
    </div>
    <hr>
    <div class="card" th:if="${client.orders.size()>0}">
        <div class="card-header" th:text="(${client.surname2 != null})?
        ${'Pedidos de ' + client.name +' ' + client.surname1 +' '+ client.surname2}:
        ${'Pedidos de ' + client.name +' ' + client.surname1}" style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <table class="table" th:if="${client.orders.size()>0}">
                <tr style="background-color: #dac4f4">
                    <th class="col-lg-3 col-md-3 col-sm-6">Id pedido</th>
                    <th class="col-lg-4 col-md-4 col-sm-6">Fecha</th>
                    <th class="col-lg-3 col-md-3 col-sm-12">Precio total:</th>
                    <th class="col-lg-2 col-md-2 col-sm-12">Ver</th>
                </tr>
                <tr th:each="order: ${client.orders}" style="background-color: #f1e7fb">
                    <td class="col-lg-3 col-md-3 col-sm-6" th:text="${order.idOrder}"></td>
                    <td class="col-lg-4 col-md-4 col-sm-6" th:text="${#dates.format(order.date, 'dd/MM/yyyy')}"></td>
                    <td class="col-lg-3 col-md-3 col-sm-12" th:text="${order.getTotalPrice()+'€'}"></td>
                    <td class="col-lg-2 col-md-2 col-sm-12">
                        <a class="btn btn-outline-success btn-sm"
                           th:href="@{'/admin/order/get/' + ${order.idOrder}}" th:text="'Ver'"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div th:if="${client.orders.size()==0}" class="alert alert-warning" role="alert">
        Este cliente no ha realizado ningún pedido
    </div>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>