<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de clientes</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <hr>
    <h1 class="display-4">Listado de clientes</h1>
    <hr>
    <table class="table" th:if="${clients.size()>0}">
        <tr style="background-color: #dac4f4">
            <th class="col-lg-3 col-md-3 col-sm-6">Nif</th>
            <th class="col-lg-4 col-md-4 col-sm-6">Nombre</th>
            <th class="col-lg-3 col-md-3 col-sm-12">Foto</th>
            <th class="col-lg-2 col-md-2 col-sm-12">Ver</th>
        </tr>
        <tr th:each="client: ${clients}" style="background-color: #f1e7fb">
            <td class="col-lg-3 col-md-3 col-sm-6" th:text="${client.nif}"></td>
            <td class="col-lg-4 col-md-4 col-sm-6" th:text="(${client.surname2 != null})?
            ${client.name +' ' + client.surname1 +' '+ client.surname2}: ${client.name +' ' + client.surname1}"></td>
            <td class="col-lg-3 col-md-3 col-sm-12"><img th:if="${not #strings.isEmpty(client.photo)
         and #strings.length(client.photo) > 0}" th:src="@{'/upload/' + ${client.photo}}"
                                                         th:alt="${client.photo}" style="width: 100px"
                                                         class="img-fluid"></td>
            <td class="col-lg-2 col-md-2 col-sm-12">
                <a class="btn btn-outline-success btn-sm"
                   th:href="@{'/admin/client/get/' + ${client.idClient}}" th:text="'Ver'"></a></td>
        </tr>
    </table>
    <div th:if="${clients.size()==0}" class="alert alert-warning" role="alert">
        No hay ningún cliente
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>