<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrarse</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container form-group table-responsive">
    <h1 class="display-4">Registrarse</h1>

    <form method="post" th:action="@{/user/user/edit}" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Correo electrónico*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{user.email}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('user.email')}"
                           th:errors="*{user.email}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Nombre*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{client.name}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('client.name')}"
                           th:errors="*{client.name}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">1º Apellido*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{client.surname1}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('client.surname1')}"
                           th:errors="*{client.surname1}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">2º Apellido:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{client.surname2}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('client.surname2')}"
                           th:errors="*{client.surname2}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">NIF*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{client.nif}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('client.nif')}"
                           th:errors="*{client.nif}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Razón social:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{client.businessName}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('client.businessName')}"
                           th:errors="*{client.businessName}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Código postal*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{client.postalCode}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('client.postalCode')}"
                           th:errors="*{client.postalCode}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Dirección*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{client.address}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('client.address')}"
                           th:errors="*{client.address}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Foto:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="file" name="file" class="form-control">
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-danger" type="reset" name="reset"
                                                               value="Borrar todo"></td>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-primary" type="submit" name="alta"
                                                               value="Modificar datos"></td>
            </tr>
        </table>
    </form>
    <p class="p">Los campos con * se deben rellenar obligatoriamente</p>
</div>

<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>