<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del usuario</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<hr>
<div class="container">
    <div class="card">
        <div class="card-header" th:text="${user.username}"
             style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <blockquote class="blockquote mb-0">
                <table class="table">
                    <tr>
                        <td class="col-lg-6">Nif:</td>
                        <td class="col-lg-6" th:text="${user.client.nif}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Nombre:</td>
                        <td class="col-lg-6" th:text="${user.client.name}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Correo electrónico:</td>
                        <td class="col-lg-6" th:text="${user.email}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">1º apellido:</td>
                        <td class="col-lg-6" th:text="${user.client.surname1}"></td>
                    </tr>
                    <tr th:if="${!#strings.isEmpty(user.client.surname2)}">
                        <td class="col-lg-6">2º apellido:</td>
                        <td class="col-lg-6" th:text="${user.client.surname2}"></td>
                    </tr>
                    <tr th:if="${!#strings.isEmpty(user.client.businessName)}">
                        <td class="col-lg-6">Nombre empresarial:</td>
                        <td class="col-lg-6" th:text="${user.client.businessName}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Código postal:</td>
                        <td class="col-lg-6" th:text="${user.client.postalCode}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Dirección:</td>
                        <td class="col-lg-6" th:text="${user.client.address}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-12">
                            <a class="btn btn-outline-info" th:href="@{'/user/user/edit/'}">Modificar datos</a>
                        </td>
                        <td class="col-lg-6 col-md-6 col-sm-12">
                            <a class="btn btn-outline-info btn-sm"
                               th:href="@{'/user/user/passReset/'}" th:text="'Cambiar contraseña'"></a>
                        </td>
                    </tr>
                </table>
            </blockquote>
        </div>
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>