<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dac4f4">
                <a class="navbar-brand" href="/">
                    <img src="" th:src="@{/images/logo_cnp.png}" height="50" alt="Logo"/>
                    Tiendas Nieto
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Proveedores
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" th:href="@{/admin/provider/add}">Añadir</a>
                                <a class="dropdown-item" href="#" th:href="@{/admin/provider/list}">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Artículos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" th:href="@{/admin/article/add}">Añadir</a>
                                <a class="dropdown-item" href="#" th:href="@{/admin/article/list}">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Clientes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" th:href="@{/admin/client/list}">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" th:href="@{/admin/user/add}">Añadir</a>
                                <a class="dropdown-item" href="#" th:href="@{/admin/user/list}">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link " th:href="@{/admin/order/list}">
                                Pedidos
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="!hasRole('ADMIN')">
                            <a class="nav-link " th:href="@{/public/article/list}">
                                Nuestros Productos
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right mt-2 mt-lg-0">
                        <li class="nav-item" sec:authorize="!hasRole('ADMIN') && isAuthenticated()">
                            <a class="nav-link " th:href="@{/user/cart/list}">
                                Cesta
                            </a>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span sec:authentication="name"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" sec:authorize="!hasRole('ADMIN')"
                                   th:href="@{/user/user/get}">Mi perfil
                                </a>
                                <a class="dropdown-item" href="#" sec:authorize="hasRole('ADMIN')"
                                   th:href="@{/admin/user/getProfile}">Mi perfil
                                </a>
                                <a class="dropdown-item" href="#" sec:authorize="!hasRole('ADMIN')"
                                   th:href="@{/user/order/list}">Mis pedidos
                                </a>
                                <form id="formLogout" th:action="@{/public/user/logout}" method="post">
                                    <input class="dropdown-item" type="submit" value="Cerrar sesión"/>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                            <a class="btn btn-outline-personalized" th:href="@{/public/user/login}">Iniciar sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${errors != null}" th:text="${errors}"></div>
            <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
            <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
        </header>

        <footer th:fragment="footer" class="text-right">
            <hr/>
            <p>
                <img src="" th:src="@{/images/logo_cnp.png}" height="50" alt="Logo"/>
                &copy; I.E.S. Castelar 2020
            </p>
            <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
            <script th:src="@{/js/popper.min.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/jquery-ui.min.js}"></script>
        </footer>
    </body>
</html>