<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir proveedor</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container form-group table-responsive">
    <h1 class="display-4">Añadir proveedor</h1>

    <form method="post" th:action="@{/admin/provider/add}" th:object="${provider}" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Nombre*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{name}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Razón social*:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{businessName}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('businessName')}"
                           th:errors="*{businessName}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">CIF:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" th:field="*{cif}" class="form-control"
                           th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}"></small>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12">Foto:</td>
                <td class="col-lg-6 col-md-6 col-sm-12">
                    <input type="file" name="file" class="form-control">
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-danger" type="reset" name="reset"
                                                               value="Borrar todo"></td>
                <td class="col-lg-6 col-md-6 col-sm-12"><input class="btn btn-primary" type="submit" name="alta"
                                                               value="Añadir"></td>
            </tr>
        </table>
    </form>
    <p class="p">Los campos con * se deben rellenar obligatoriamente</p>
</div>

<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>