<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del proveedor</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<hr>
<div class="container">
    <div class="card">
        <div class="card-header" th:text="${provider.businessName}" style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <img th:if="${not #strings.isEmpty(provider.photo)
         and #strings.length(provider.photo) > 0}" th:src="@{'/upload/' + ${provider.photo}}"
                 th:alt="${provider.photo}" style="width: 250px" class="img-fluid">
            <blockquote class="blockquote mb-0">
                <table class="table">
                    <tr>
                        <td class="col-lg-6">Id proveedor:</td>
                        <td class="col-lg-6" th:text="${provider.idProvider}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Nombre:</td>
                        <td class="col-lg-6" th:text="${provider.name}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">CIF:</td>
                        <td class="col-lg-6" th:if="${!#strings.isEmpty(provider.cif)}" th:text="${provider.cif}"></td>
                        <td class="col-lg-6" th:if="${#strings.isEmpty(provider.cif)}"> Sin rellenar</td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Estado:</td>
                        <td class="col-lg-6" th:text="((${provider.active == 1})? 'Activado': 'Desactivado')"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-12">
                            <a class="btn btn-primary" th:href="@{'/admin/provider/edit/' + ${provider.idProvider}}">Editar</a>
                        </td>
                        <td class="col-lg-6 col-md-6 col-sm-12">
                            <a th:if="${provider.active == 1}" class="btn btn-outline-danger btn-sm"
                               th:href="@{'/admin/provider/get/disable/' + ${provider.idProvider}}"
                               th:text="'Desactivar'"
                               onclick="return confirm('¿Está seguro que desactivar el proveedor?\nEsto desactivará sus productos');"></a>
                            <a th:if="${provider.active == 0}" class="btn btn-outline-info btn-sm"
                               th:href="@{'/admin/provider/get/enable/' + ${provider.idProvider}}"
                               th:text="'Activar'"></a>
                        </td>
                    </tr>
                </table>
            </blockquote>
        </div>
    </div>
    <hr>
    <div class="card" th:if="${provider.articles.size()>0}">
        <div class="card-header" th:text="${'Artículos de ' + provider.businessName}"
             style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <table class="table">
                <tr style="background-color: #f1e7fb">
                    <th class="col-lg-3 col-md-3 col-sm-4">Id artículo</th>
                    <th class="col-lg-2 col-md-3 col-sm-4">Nombre</th>
                    <th class="col-lg-2 col-md-4 col-sm-4">Stock</th>
                    <th class="col-lg-2 col-md-2 col-sm-6">Foto</th>
                    <th class="col-lg-2 col-md-6 col-sm-6">Estado</th>
                    <th class="col-lg-2 col-md-6 col-sm-12">Ver</th>
                </tr>
                <tr th:each="article: ${provider.articles}" style="background-color: #f1e7fb">
                    <div class="alert alert-warning" th:if="${article.stock< 10 and article.active == 1}"
                         th:text="'Hay pocas unidades del artículo ' + ${article.idArticle} + ' disponibles'">
                    </div>
                    <td class="col-lg-3 col-md-3 col-sm-4" th:text="${article.idArticle}"></td>
                    <td class="col-lg-2 col-md-3 col-sm-4" th:text="${article.name}"></td>
                    <td class="col-lg-2 col-md-4 col-sm-4" th:text="${article.stock}"></td>
                    <td class="col-lg-2 col-md-2 col-sm-6"><img th:if="${not #strings.isEmpty(article.photo)
         and #strings.length(article.photo) > 0}" th:src="@{'/upload/' + ${article.photo}}"
                                                                th:alt="${article.photo}" style="width: 100px"
                                                                class="img-fluid"></td>
                    <td class="col-lg-2 col-md-6 col-sm-6"
                        th:text="((${article.active == 1})? 'Activado':
                        ((${article.stock == 0})?'Retirado':'En liquidación'))"></td>
                    <td class="col-lg-2 col-md-6 col-sm-12">
                        <a class="btn btn-outline-success btn-sm"
                           th:href="@{'/admin/article/get/' + ${article.idArticle}}" th:text="'Ver'"></a>
                </tr>
            </table>
        </div>
    </div>
    <div th:if="${provider.articles.size()==0}" class="alert alert-warning" role="alert">
        Este proveedor no tiene ningún articulo
    </div>
    <hr>
    <div class="card" th:if="${orders.size()>0}">
        <div class="card-header" th:text="${'Pedidos con este proveedor '+ provider.idProvider}"
             style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <table class="table" th:if="${orders.size()>0}">
                <tr style="background-color: #dac4f4">
                    <th class="col-lg-3 col-md-3 col-sm-6">Id pedido</th>
                    <th class="col-lg-4 col-md-4 col-sm-6">Fecha</th>
                    <th class="col-lg-3 col-md-3 col-sm-12">Precio total:</th>
                    <th class="col-lg-2 col-md-2 col-sm-12">Ver</th>
                </tr>
                <tr th:each="order: ${orders}" style="background-color: #f1e7fb">
                    <td class="col-lg-3 col-md-3 col-sm-6" th:text="${order.idOrder}"></td>
                    <td class="col-lg-4 col-md-4 col-sm-6" th:text="${#dates.format(order.date, 'dd/MM/yyyy')}"></td>
                    <td class="col-lg-3 col-md-3 col-sm-12" th:text="${order.getTotalPrice()+'€'}"></td>
                    <td class="col-lg-2 col-md-2 col-sm-12">
                        <a class="btn btn-outline-success btn-sm"
                           th:href="@{'/admin/order/get/' + ${order.idOrder}}" th:text="'Ver'"></a>
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td class="col-lg-6">Unidades vendidas:</td>
                    <td class="col-lg-6" th:text="${unitsSold}"></td>
                </tr>
                <tr>
                    <td class="col-lg-6">Total vendido:</td>
                    <td class="col-lg-6" th:text="${totalSold + '€'}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div th:if="${orders.size()==0}" class="alert alert-warning" role="alert">
        Este proveedor no tiene ningún pedido
    </div>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>