<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de proveedores</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <hr>
    <h1 class="display-4">Listado de proveedores</h1>
    <hr>
    <table class="table" th:if="${providers.size()>0}">
        <tr style="background-color: #dac4f4">
            <th class="col-lg-3 col-md-3 col-sm-6">Id proveedor</th>
            <th class="col-lg-4 col-md-4 col-sm-6">Razón social</th>
            <th class="col-lg-3 col-md-3 col-sm-12">Foto</th>
            <th class="col-lg-2 col-md-2 col-sm-12">Ver</th>
        </tr>
        <tr th:each="provider: ${providers}" style="background-color: #f1e7fb">
            <td class="col-lg-3 col-md-3 col-sm-6" th:text="${provider.idProvider}"></td>
            <td class="col-lg-4 col-md-4 col-sm-6" th:text="${provider.businessName}"></td>
            <td class="col-lg-3 col-md-3 col-sm-12"><img th:if="${not #strings.isEmpty(provider.photo)
         and #strings.length(provider.photo) > 0}" th:src="@{'/upload/' + ${provider.photo}}"
                                                         th:alt="${provider.photo}" style="width: 100px"
                                                         class="img-fluid"></td>
            <td class="col-lg-2 col-md-2 col-sm-12">
                <a class="btn btn-outline-success btn-sm"
                   th:href="@{'/admin/provider/get/' + ${provider.idProvider}}" th:text="'Ver'"></a>
                <a th:if="${provider.active == 1}" class="btn btn-outline-danger btn-sm"
                   th:href="@{'/admin/provider/disable/' + ${provider.idProvider}}" th:text="'Desactivar'"
                   onclick="return confirm('¿Está seguro que desactivar el proveedor?\nEsto desactivará sus productos');"></a>
                <a th:if="${provider.active == 0}" class="btn btn-outline-info btn-sm"
                   th:href="@{'/admin/provider/enable/' + ${provider.idProvider}}" th:text="'Activar'"></a></td>
        </tr>
    </table>
    <div th:if="${providers.size()==0}" class="alert alert-warning" role="alert">
        No hay ningún proveedor
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>