<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del artículo</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<hr>
<div class="container">
    <div class="alert alert-warning" th:if="${article.active == 0 and article.stock > 0}">
        <strong>Atención</strong> El artículo está en liquidación
    </div>
    <div class="alert alert-warning" th:if="${article.stock< 10 and article.active == 1}">
        <strong>Atención</strong> ¡¡Hay pocas unidades del producto disponibles!!
    </div>
    <div class="card">
        <div class="card-header" th:text="${article.name}"
             th:style="((${article.active == 0})?'background: #f4b2dc':'background: #dac4f4')"></div>
        <div class="card-body" th:style="((${article.active == 0})?'background: #F4E7F0':'background: #f1e7fb')">
            <img th:if="${not #strings.isEmpty(article.photo)
         and #strings.length(article.photo) > 0}" th:src="@{'/upload/' + ${article.photo}}"
                 th:alt="${article.photo}" style="width: 250px" class="img-fluid">
            <blockquote class="blockquote mb-0">
                <table class="table">
                    <tr>
                        <td class="col-lg-6">Id del artículo:</td>
                        <td class="col-lg-6" th:text="${article.idArticle}"></td>
                    </tr>
                    <tr th:if="${!#strings.isEmpty(article.description)}">
                        <td class="col-lg-6">Descripción:</td>
                        <td class="col-lg-6" th:text="${article.description}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Proveedor:</td>
                        <td class="col-lg-6" th:text="${article.provider.businessName}">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Fabricante:</td>
                        <td class="col-lg-6" th:text="${article.manufacture}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Precio de venta al público:</td>
                        <td class="col-lg-6" th:text="${article.pvp}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">IVA:</td>
                        <td class="col-lg-6" th:text="${article.iva} + '%'"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Precio total:</td>
                        <td class="col-lg-6" th:text="${article.getTotalPrize()} + '€'"></td>
                    </tr>
                    <tr th:if="${article.active == 0 || article.stock < 10}">
                        <td class="col-lg-6">Stock:</td>
                        <td class="col-lg-6" th:if="${article.stock > 10}"
                            th:text="${'Quedan '+ article.stock + ' unidades'}"></td>
                        <td class="col-lg-6" th:if="${article.stock != 1 && article.stock <= 10}"
                            th:text="${'¡Quedan '+ article.stock + ' unidades!'}" style="color: rgb(107,48,255)"></td>
                        <td class="col-lg-6" th:if="${article.stock == 1}"
                            th:text="${'¡¡¡Solo queda '+ article.stock + ' unidad!!!'}"
                            style="color: rgb(255,0,0)"></td>
                        <small class="text-center" th:if="${article.stock == 0}"
                               th:text="${'Sin stock'}"
                               style="color: rgb(176,0,0)"></small>
                    </tr>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-12"></td>
                        <td class="col-lg-6 col-md-6 col-sm-12">
                            <a class="btn btn-primary" th:if="${article.stock != 0}"
                               th:href="@{'/user/cart/addFromViewArticle/' + ${article.idArticle}}">Comprar</a>
                            <a class="btn btn-primary disabled" th:if="${article.stock == 0}">Comprar</a>
                        </td>
                    </tr>
                </table>
            </blockquote>
        </div>
    </div>
    <hr>
    <footer th:replace="layout/general_layout :: footer"></footer>
</div>
</body>
</html>