<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuestros productos</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <hr>
    <h1 class="display-4">Nuestros productos</h1>
    <hr>
    <div class="row">
        <div th:each="article: ${articles}" class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="card h-100 mx-auto"
                 th:style="((${article.active == 0})?'background: #f4b2dc':'background: #dac4f4')">

                <a th:href="@{'/public/article/get/' + ${article.idArticle}}">
                    <img id="myImg" class="card-img-top" th:if="${not #strings.isEmpty(article.photo)
         and #strings.length(article.photo) > 0}" th:src="@{'/upload/' + ${article.photo}}"
                         th:alt="${article.photo}" style="width:100%;"></a>


                <div class="card-body mx-auto p-0">
                    <h4 class="card-title text-center" style="height: 28%;"
                        th:text="((${article.active == 0})? ${'En liquidación: ' + article.name}:${article.name})"></h4>
                    <h5 class="text-center"
                        th:text="${article.getTotalPrize() + '€ IVA incluido'}"></h5>
                    <p class="card-text text-center" th:if="${!article.description.isEmpty()}"
                       style="height: 20%;" th:text="${article.description}"></p>
                    <div class="row mx-auto text-center">
                        <div class="col-6">
                            <a class="btn btn-primary btn-sm"
                               th:href="@{'/user/cart/addFromCatalogue/' + ${article.idArticle}}"
                               th:if="${article.stock != 0}" th:text="'Comprar'"></a>
                            <a class="btn btn-primary disabled" th:if="${article.stock == 0}">Comprar</a>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-outline-success btn-sm"
                               th:href="@{'/public/article/get/' + ${article.idArticle}}" th:text="'Ver'"></a>
                        </div>
                    </div>
                </div>
                <div class="card-footer" th:if="${article.active == 0 || article.stock < 10}">
                    <small class="text-light text-center" th:if="${article.stock > 10}"
                           th:text="${'Quedan '+ article.stock + ' unidades'}"></small>
                    <small class="text-center" th:if="${article.stock != 1 && article.stock <= 10}"
                           th:text="${'¡Quedan '+ article.stock + ' unidades!'}" style="color: rgb(107,48,255)"></small>
                    <small class="text-center" th:if="${article.stock == 1}"
                           th:text="${'¡¡¡Solo queda '+ article.stock + ' unidad!!!'}"
                           style="color: rgb(255,0,0)"></small>
                    <small class="text-center" th:if="${article.stock == 0}"
                           th:text="${'Sin stock'}"
                           style="color: rgb(176,0,0)"></small>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${articles.size()==0}" class="alert alert-warning" role="alert">
        ¡Vaya! Aun no nos ha dado tiempo a llenar el almacén. En cuanto terminemos tendremos maravillosos artículos que
        ofrecerle. De momento disculpe las molestias, sabemos que es un tostón esperar pero le prometemos que valdrá
        la pena.
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>