<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del pedido</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<hr>
<div class="container">
    <div class="card">
        <div class="card-header" th:text="${order.idOrder}" style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <blockquote class="blockquote mb-0">
                <table class="table">
                    <tr>
                        <td class="col-lg-6">Id pedido:</td>
                        <td class="col-lg-6" th:text="${order.idOrder}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Fecha:</td>
                        <td class="col-lg-6" th:text="${#dates.format(order.date, 'dd/MM/yyyy')}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Pagada:</td>
                        <td class="col-lg-6" th:text="((${order.paid == 1})? 'Sí': 'No')"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Método de pago:</td>
                        <td class="col-lg-6" th:text="${order.payMethod}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6">Total:</td>
                        <td class="col-lg-6" th:text="${order.getTotalPrice()+'€'}"></td>
                    </tr>
                    <tr>
                        <td class="col-lg-6"></td>
                        <td class="col-lg-6">
                            <a class="btn btn-outline-personalized btn-sm"
                               th:href="@{'/user/rest/report/' + ${order.idOrder}}" th:text="'Imprimir factura'"></a>
                        </td>
                    </tr>
                </table>
            </blockquote>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="card-header" th:text="${'Detalles del pedido ' + order.idOrder}"
             style="background-color: #dac4f4"></div>
        <div class="card-body" style="background-color: #f1e7fb">
            <table class="table">
                <tr style="background-color: #f1e7fb">
                    <th class="col-lg-3 col-md-3 col-sm-4">Id artículo</th>
                    <th class="col-lg-2 col-md-2 col-sm-4">Precio</th>
                    <th class="col-lg-2 col-md-2 col-sm-4">Iva</th>
                    <th class="col-lg-2 col-md-2 col-sm-6">Unidades</th>
                    <th class="col-lg-3 col-md-3 col-sm-6">Subtotal</th>
                </tr>
                <tr th:each="line: ${order.orderLines}" style="background-color: #f1e7fb">
                    <td class="col-lg-3 col-md-3 col-sm-4"
                        th:text="${line.article.idArticle + ' - '+ line.name}"></td>
                    <td class="col-lg-2 col-md-2 col-sm-4" th:text="${line.getTotalUnit()}"></td>
                    <td class="col-lg-2 col-md-2 col-sm-4" th:text="${line.iva}"></td>
                    <td class="col-lg-2 col-md-2 col-sm-6" th:text="${line.units}"></td>
                    <td class="col-lg-3 col-md-3 col-sm-6" th:text="${line.getTotalLine()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>