<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error 403</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <h1 class="display-6">No tiene los permisos necesarios para poder acceder a este recurso</h1>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>