.btn-outline-personalized {
    color: #4441b6;
    border-color: #4441b6
}

.btn-outline-personalized:hover {
    color: #fff;
    background-color: #4441b6;
    border-color: #4441b6
}

.btn-outline-personalized.focus, .btn-outline-personalized:focus {
    box-shadow: 0 0 0 .2rem rgba(68, 65, 182, 0.5)
}

.btn-outline-personalized.disabled, .btn-outline-personalized:disabled {
    color: #4441b6;
    background-color: transparent
}

.btn-outline-personalized:not(:disabled):not(.disabled).active, .btn-outline-personalized:not(:disabled):not(.disabled):active, .show > .btn-outline-personalized.dropdown-toggle {
    color: #fff;
    background-color: #4441b6;
    border-color: #4441b6
}

.btn-outline-personalized:not(:disabled):not(.disabled).active:focus, .btn-outline-personalized:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-personalized.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(68, 65, 182, 0.5)
}

.display-6 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1
}