<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tiendas Nieto</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<h1 class="display-4">Bienvenido a Tiendas Cosmenp</h1>
<p>Puede ver los artículos disponibles desplegando los menús de la barra superior.</p>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>