<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de pedidos</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <hr>
    <h1 class="display-4">Listado de pedidos</h1>
    <hr>
    <table class="table" th:if="${orders.size()>0}">
        <tr style="background-color: #dac4f4">
            <th class="col-lg-3 col-md-3 col-sm-6">Id pedido</th>
            <th class="col-lg-4 col-md-4 col-sm-6">Fecha</th>
            <th class="col-lg-3 col-md-3 col-sm-12">Precio total:</th>
            <th class="col-lg-2 col-md-2 col-sm-12">Ver</th>
        </tr>
        <tr th:each="order: ${orders}" style="background-color: #f1e7fb">
            <td class="col-lg-3 col-md-3 col-sm-6" th:text="${order.idOrder}"></td>
            <td class="col-lg-4 col-md-4 col-sm-6" th:text="${#dates.format(order.date, 'dd/MM/yyyy')}"></td>
            <td class="col-lg-3 col-md-3 col-sm-12" th:text="${order.getTotalPrice()+'€'}"></td>
            <td class="col-lg-2 col-md-2 col-sm-12">
                <a class="btn btn-outline-success btn-sm"
                   th:href="@{'/admin/order/get/' + ${order.idOrder}}" th:text="'Ver'"></a>
            </td>
        </tr>
    </table>
    <div th:if="${orders.size()==0}" class="alert alert-warning" role="alert">
        No hay ningún pedido
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>