<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Elija método de pago</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<hr>
<div class="container">

    <form method="post" th:action="@{/user/cart/buy}">
        <table class="table">
            <tr>
                <td>
                    <input type="radio" name="method" value="Paypal" checked=checked>
                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" border="0" alt="PayPal Logo" />
                </td>
                <td>
                    <input type="radio" name="method" value="Visa">
                    <img src="" th:src="@{/images/visa.webp}" height="48" width="76" border="0" alt="Visa"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-outline-personalized" value="Comprar"></td>
            </tr>
        </table>
    </form>
    <footer th:replace="layout/general_layout :: footer"></footer>
</div>
</body>
</html>