<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tiendas Nieto</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<h1 class="display-4">Muchas gracias por su compra</h1>
<p>Ahora puede consultar sus pedidos realizados <a class="link" th:href="@{/user/orders/list}">aquí</a> o
 imprimir su pedido <a class="link" th:href="@{'/user/rest/report/' + ${order}}">aquí</a></p>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>