<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cesta de la compra</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <hr>
    <h1 class="display-4">Cesta de la compra</h1>
    <hr>
    <table class="table" th:if="${lines.size()>0}">
        <tr style="background-color: #dac4f4">
            <th class="col-lg-2 col-md-2 col-sm-6">Nombre</th>
            <th class="col-lg-2 col-md-2 col-sm-6">Precio por unidad</th>
            <th class="col-lg-2 col-md-2 col-sm-6">Unidades</th>
            <th class="col-lg-2 col-md-2 col-sm-6">Foto</th>
            <th class="col-lg-2 col-md-2 col-sm-6">Subtotal</th>
            <th class="col-lg-2 col-md-2 col-sm-6">Acciones</th>
        </tr>
        <tr th:each="line: ${lines}" style="background-color: #f1e7fb">
            <td class="col-lg-2 col-md-2 col-sm-6" th:text="${line.name}"></td>
            <td class="col-lg-2 col-md-2 col-sm-6" th:text="${line.getTotalUnit()+'€'}"></td>
            <td class="col-lg-2 col-md-2 col-sm-6">
                <span th:text="${line.units}"></span>
                <a class="btn btn-outline-warning btn-sm"
                   th:href="@{'/user/cart/add/' + ${line.article.idArticle}}" th:text="'+'"></a>
                <a class="btn btn-outline-warning btn-sm"
                   th:href="@{'/user/cart/minus/' + ${line.article.idArticle}}" th:text="'-'"></a>
            </td>
            <td class="col-lg-2 col-md-2 col-sm-6"><img th:if="${not #strings.isEmpty(line.article.photo)
         and #strings.length(line.article.photo) > 0}" th:src="@{'/upload/' + ${line.article.photo}}"
                                                        th:alt="${line.article.photo}" style="width: 100px"
                                                        class="img-fluid"></td>
            <td class="col-lg-2 col-md-2 col-sm-6" th:text="${line.getTotalLine()+'€'}"></td>
            <td class="col-lg-2 col-md-2 col-sm-6">
                <a class="btn btn-outline-success btn-sm"
                   th:href="@{'/public/article/get/' + ${line.article.idArticle}}" th:text="'Ver'"></a>
                <a class="btn btn-outline-danger btn-sm"
                   th:href="@{'/user/cart/remove/' + ${line.article.idArticle}}" th:text="'Eliminar'"></a>
            </td>
        </tr>
        <tr>
            <td class="col-lg-2 col-md-2 col-sm-6">Total:</td>
            <td class="col-lg-2 col-md-2 col-sm-6" th:text="${total+'€'}"></td>
            <td class="col-lg-2 col-md-2 col-sm-6"></td>
            <td class="col-lg-2 col-md-2 col-sm-6"></td>
            <td class="col-lg-2 col-md-2 col-sm-6"></td>
            <td class="col-lg-2 col-md-2 col-sm-6">
                <a class="btn btn-outline-personalized btn-sm"
                   th:href="@{'/user/cart/buy/'}" th:text="'Comprar'"></a>
            </td>
        </tr>
    </table>
    <div th:if="${lines.size()==0}" class="alert alert-warning" role="alert">
        No hay ningún artículo en la cesta. ¡¡Pasate por nuestro
        <a class="link" th:href="@{/public/article/list}">catálogo de productos</a>!!
    </div>
    <hr>
</div>
<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>