<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio de sesión</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/personalized.css}"/>
</head>
<body>
<header th:replace="layout/general_layout :: header"></header>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/public/user/login}">
        <h2 class="form-signin-heading">Inicio de sesión</h2>
        <p>
            <label for="username" class="sr-only">Nombre de usuario</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario"
                   required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Contraseña</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
        </p>
        <button class="btn btn-lg btn-outline-personalized btn-block" type="submit">Iniciar sesión</button>
        <a class="btn btn-outline-success btn-lg btn-block" th:href="@{/public/user/register}">Registrarse</a>
    </form>
</div>

<footer th:replace="layout/general_layout :: footer"></footer>
</body>
</html>